<table>
	<thead>
		<tr>
			<th>Client</th>
			<th>Facture</th>
			<th>Date limite</th>
		</tr>
	</thead>
	<tbody>
		<% data.forEach(row => { %>
			<tr>
				<td><%= row.client %></td>
				<td><%= row.num_fact %></td>
				<td><%= row.date_limite %></td>
			</tr>
		<% }); %>
	</tbody>
</table>

