<table>
	<thead>
		<tr>
			<th>Utilisateur</th>
			<th>Durée</th>
			<th>Tx/h</th>
			<th>Honoraires</th>
		</tr>
	</thead>
	<tbody>
		<% data.forEach(row => { %>
			<tr>
				<td><%= row.trigram %></td>
				<td><%= row.duree_totale_arrondie %></td>
				<td><%= row.tx_horaire %></td>
				<td><%= row.montant_total %></td>
			</tr>
		<% }); %>
	</tbody>
</table>
